.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}

.room-name a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 0 40px;
}

.main-chat{
  width: calc(100vw - 300px);
  background-color: #fff;
}

.main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.group-name{
  font-size: 24px;
  color: #333;
  margin-top:36px;
}

.chat-end{
  margin-top:40px;
}

.chat-end a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.contents{
  margin-top:10px
}

.upper-message{
  display:flex;
}

.message-user{
  font-size: 16px;
  color: #434A54;
}

.message-date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.message-content{
  font-size: 14px;
  color: #434A54;
  padding-top: 10px;
  margin-bottom: 40px;
}

.message{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.form{
  height: 90px;
  background-color: #DDD;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit{
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}